@layer utilities {
  /* Utility: center content both axes */
  .center {
    align-items: center;
    justify-content: center;
  }

  .bg-color {
    background: rgb(170, 130, 230);
  }

  .bg-cyan {
    background: rgb(33, 199, 243);
  }
}
